{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Listings -->
<section id="listings" class="py-4">
    <div class="container">
<div class="row">
  <!-- Listing 1 -->
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card listing-preview">
      <img class="card-img-top" src="{% static 'img/sembako.jpg' %}" alt="">
      <div class="card-body">
        <div class="listing-heading text-center">
          <h4 class="text-primary">
            Pembagian sembako DPW Sulawesi Tenggara bersama komunitas
            gojek
          </h4>
          <p>
            <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
        </div>
        <hr>
        <hr>
        <div class="row py-2 text-secondary">
          <div class="col-6">
            <i class="fas fa-user"></i> Kyle Brown</div>
        </div>
        <div class="row text-secondary pb-2">
          <div class="col-6">
            <i class="fas fa-clock"></i> 5 days ago</div>
        </div>
        <hr>
        <a href="" class="btn btn-primary btn-block">Selengkapnya</a>
      </div>
    </div>
  </div>

  <!-- Listing 2 -->
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card listing-preview">
      <img class="card-img-top" src="{% static 'img/sembako_2.png' %}" alt="">
      <div class="card-body">
        <div class="listing-heading text-center">
          <h4 class="text-primary">
            Bantuan sosial bagi masyarakat Bombana, Sulawesi Tenggara
          </h4>
          <p>
        </div>
        <hr>
        <hr>
        <div class="row py-2 text-secondary">
          <div class="col-6">
            <i class="fas fa-user"></i> Mark Hudson</div>
        </div>
        <div class="row text-secondary pb-2">
          <div class="col-6">
            <i class="fas fa-clock"></i> 5 days ago</div>
        </div>
        <hr>
        <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
      </div>
    </div>
  </div>

  <!-- Listing 3 -->
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card listing-preview">
      <img class="card-img-top" src="{% static 'img/jembatan1.jpg' %}" alt="">
      <div class="card-body">
        <div class="listing-heading text-center">
          <h4 class="text-primary">
            Bantuan perbaikan jembatan
          </h4>
          <p>
            <i class="fas fa-map-marker text-secondary"></i> Oleh: Nurdin</p>
        </div>
        <hr>
        <hr>
        <div class="row py-2 text-secondary">
          <div class="col-6">
            <i class="fas fa-user"></i> Mark Hudson</div>
        </div>
        <div class="row text-secondary pb-2">
          <div class="col-6">
            <i class="fas fa-clock"></i> 5 days ago</div>
        </div>
        <hr>
        <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Listing 1 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card listing-preview">
        <img class="card-img-top" src="{% static 'img/sembako.jpg' %}" alt="">
        <div class="card-body">
          <div class="listing-heading text-center">
            <h4 class="text-primary">
              Pembagian sembako DPW Sulawesi Tenggara bersama komunitas
              gojek
            </h4>
            <p>
              <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
          </div>
          <hr>
          <hr>
          <div class="row py-2 text-secondary">
            <div class="col-6">
              <i class="fas fa-user"></i> Kyle Brown</div>
          </div>
          <div class="row text-secondary pb-2">
            <div class="col-6">
              <i class="fas fa-clock"></i> 5 days ago</div>
          </div>
          <hr>
          <a href="" class="btn btn-primary btn-block">Selengkapnya</a>
        </div>
      </div>
    </div>

    <!-- Listing 2 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card listing-preview">
        <img class="card-img-top" src="{% static 'img/sembako_2.png' %}" alt="">
        <div class="card-body">
          <div class="listing-heading text-center">
            <h4 class="text-primary">
              Bantuan sosial bagi masyarakat Bombana, Sulawesi Tenggara
            </h4>
            <p>
          </div>
          <hr>
          <hr>
          <div class="row py-2 text-secondary">
            <div class="col-6">
              <i class="fas fa-user"></i> Mark Hudson</div>
          </div>
          <div class="row text-secondary pb-2">
            <div class="col-6">
              <i class="fas fa-clock"></i> 5 days ago</div>
          </div>
          <hr>
          <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
        </div>
      </div>
    </div>

    <!-- Listing 3 -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card listing-preview">
        <img class="card-img-top" src="{% static 'img/jembatan1.jpg' %}" alt="">
        <div class="card-body">
          <div class="listing-heading text-center">
            <h4 class="text-primary">
              Bantuan perbaikan jembatan
            </h4>
            <p>
              <i class="fas fa-map-marker text-secondary"></i> Oleh: Nurdin</p>
          </div>
          <hr>
          <hr>
          <div class="row py-2 text-secondary">
            <div class="col-6">
              <i class="fas fa-user"></i> Mark Hudson</div>
          </div>
          <div class="row text-secondary pb-2">
            <div class="col-6">
              <i class="fas fa-clock"></i> 5 days ago</div>
          </div>
          <hr>
          <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
        </div>
      </div>
    </div>

  </div>
</div>
    </div>
  </section>
{% endblock %}